.alert {
    width: 20%;
    height: 4%;
    font-size: 13px;
    border: 2px solid black;
    text-align: center;
    vertical-align:middle;
    padding: 15px;
    background-color: red;
    border-radius: 10px;
    color: white;
    bottom: 7%;
    right: 3%;
    position: absolute;
    visibility: hidden;
}

.show {
    visibility: visible;
    -webkit-animation: fadeIn ease 10s;
    animation: fadeIn ease 10s;
    -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 0.5;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 0.5;
    }

    20% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}