*{

    font-family: 'Roboto', sans-serif;

}

h1{

    text-align: center;
    margin-bottom: 5%;

}

li{

    margin: 1%;

}

ul{

    font-size: 20px;

}

ul :first-child{

    list-style-type: "\1F385";

}

ul :nth-child(2){

    list-style-type: "\1F3CB";

}

ul :nth-child(3)
{

    list-style-type: "\1F46E";

}

ul :nth-child(4)
{

    list-style-type: "\1F934";

}

#wait{

    text-align: center;

}

#word{
    text-align: center;
    margin-top: 5%;
}
